
body {
    background-color: #607274;
    font-family: 'Titillium Web', sans-serif;
}



input::placeholder,
textarea::placeholder {
    color: rgb(161, 161, 161) !important;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;

}


.login-layer{
    height: 100%;
    font-family: 'Lato', sans-serif;

    
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: #607274;
}


  